/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2018, 2:52:18 PM
    Author     : ans
*/

body {
 
  background-color: #eee !important;
}
.reg-page, login-page{
    padding-top : 40px;
    padding-bottom : 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#messages ul.error{
    
    list-style : none;
    color: #a94442;
    background-color:#f2dede;
    border-color: #ebccd1;
    padding: 15px;
      margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#messages ul.success{
    
    list-style : none;
    color: #3c763d;
    background-color: #dff0d8;
     margin-top: 20px;
    border-color:#d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}



.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}